<%- include('partials/menuheader') %>

<body>

    <main role="main">

        <section class="jumbotron text-center">
            <form action="/search" class="mb-4" method="GET">
                <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                            <input class="search_input" type="text" name="search" placeholder="Find a Shop...">
                            <button type="submit" class="search_icon btn-dark"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container">
                <h1>Our Partners</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/browse/establishments" class="btn btn-lg btn-primary my-2">Establishments</a>
                    <a href="/browse/users" class="btn btn-lg btn-primary my-2">Users</a>
                </div>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <a href="/browse/users"><i class="fa fa-sort-amount-down fa-2x"
                    style="margin-left:16px ; color: #d3d3d3;"></i></a>
            <div class="container">
                <div class="row">

                    <% shops.forEach(shop => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="/<%= shop.userImage %>" class="card-img-top" alt="brands">
                            <div class="card-body">

                                <h5 class="card-title"><%= shop.username %></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <!-- <p class="card-text">%= shop.shopDescription.substring(0,100) + " ... " %></p> -->

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/shops/<%= shop._id%>" class="btn btn-outline-secondary">View</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer') %>