<%- include('partials/menuheader') %>
<% if (message.length > 0) { %>
<div class="alert alert-primary" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>

<!-- Drink/Promo -->
<div class="container post-page">
    <div class="card mb-3 border-0" style="max-width: 1140px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <% if (status == "drinks") { %>
                <img src="/<%= drink.drinkImage %>" class="card-img" alt="drinkImage">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=drink.drinkName%>
                    </h5>
                    <p class="card-text">
                        <%=drink.drinkDescription%>
                    </p>
                    <p class="card-text">Favourited: <%=drink.favouriters.length%> times </p>
                    <p class="card-text"><small class="text-muted">Last updated: <%=user.username%> &nbsp;
                            <%=duration(drink, "edit")%></small></p>
                    <% } else if (status == "promo") { %>
                    <img src="/<%= drink.promoImage %>" class="card-img" alt="drinkImage">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=drink.promoName%>
                        </h5>
                        <p class="card-text">
                            <%=drink.promoDescription%>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated: <%=user.username%> &nbsp;
                                <%=duration(drink, "edit")%></small></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Make a comment for Drink/Promo -->
    <div class="container">
        <% if (status == "drinks") { %>
        <form class="compose-form" action="/drinks/<%=drink._id%>" method="post">
            <% } else if (status == "promo") { %>
            <form class="compose-form" action="/shop/promo/<%=drink._id%>" method="post">
                <% } %>
                <div class="form-group">
                    <label>Add a comment</label>
                    <textarea class="form-control" name="comment" rows="2" cols="20" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit" name="button">Comment</button>
            </form>
    </div>


    <div class="container">

        <div class="row">

            <!-- Comment Section for Drink/Promo -->
            <div class="comments-container">

                <h1>Comments</h1>

                <ul id="comments-list" class="comments-list">

                    <% comments.forEach((comment) => { %>

                    <li>
                        <div class="comment-main-level">
                            <!-- Avatar -->
                            <% var imageSource = "/" + user.userImage; %>
                            <% users.forEach((commentor) => { %>
                            <%  if (commentor._id == comment.userID) { %>
                            <%    imageSource = "/" + commentor.userImage; %>
                            <% } %>
                            <% }) %>
                            <div class="comment-avatar"><img src=<%=imageSource%> alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <!-- To differentiate OP -->
                                    <% if (comment.userID === drink.userID) { %>
                                    <h6 class="comment-name by-author"><%=comment.username%> </h6>
                                    <% } else { %>
                                    <h6 class="comment-name"><%=comment.username%> </h6>
                                    <% } %>
                                    <!-- Time of comment -->
                                    <% if (comment.edited) { %>
                                    <span><%= duration(comment) %> (edited)</span>
                                    <% } else { %>
                                    <span><%= duration(comment) %></span>
                                    <% } %>
                                    <!-- To differntiate owner of comment -->
                                    <% if (comment.userID == user._id) { %>
                                    <% if (status == "drinks") { %>
                                    <a href="#"><i href="#" data-drinkCommentID="<%= comment._id %>"
                                            data-drinkID="<%= drink._id %>" class="fa fa-trash-alt delete-drinkComment"
                                            title="Delete"></i></a>
                                    <% } else { %>
                                    <a href="#"><i href="#" data-drinkCommentID="<%= comment._id %>"
                                            data-drinkID="<%= drink._id %>" class="fa fa-trash-alt delete-promoComment"
                                            title="Delete"></i></a>
                                    <% } %>
                                    <a><i data-toggle="modal" data-target="#exampleModal"
                                            data-editDrinkID="<%= comment._id %>" class="fa edit-drinkComment fa-edit"
                                            title="Edit"></i></a>
                                    <% } %>
                                    <!-- Like function -->
                                    <!-- If not 'like' yet-> render like -->
                                    <% if (!comment.likers.includes(user._id)) { %>
                                    <i id="<%=comment._id%>" data-like="<%=comment._id%>" class="fa fa-heart"
                                        title="Like" onclick="doLike(this.id)"></i>
                                    <!-- No. of likes -->
                                    <p id="count<%=comment._id%>" class="mb-0" style="float: right;">
                                        <%=comment.likers.length%></p>

                                    <!-- Else -> render unlike -->
                                    <% } else { %>
                                    <i id="<%=comment._id%>" data-like="<%=comment._id%>" class="fa fa-heart"
                                        title="Unlike" onclick="doUnlike(this.id)" style="color: #03658c;"></i>
                                    <!-- No. of likes -->
                                    <p id="count<%=comment._id%>" class="mb-0" style="float: right;">
                                        <%=comment.likers.length%></p>
                                    <% } %>
                                </div>
                                <!-- comment content -->
                                <div class="comment-content">
                                    <p><%=comment.content%></p>
                                </div>
                            </div>
                        </div>

                        <% }) %>
            </div>
        </div>
    </div>

    <div class="container mb-4">
        <a href="/shops/<%=drink.userID%>" type="button" class="btn btn-secondary">Back</a>
    </div>

    <!-- Modal (a pop-out box to edit Drink/Promo comment)-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <% if (status == "drinks") { %>
                    <form id="popOutFormDrink" action="/drink/comment/edit/" method="POST">
                        <% } %>
                        <% if (status == "promo") { %>
                        <form id="popOutFormPromo" action="/drink/comment/edit/" method="POST">
                            <% } %>

                            <div class="form-group" style="margin: 0 0 0 0;">
                                <label for="message-text" class="col-form-label">Edit your
                                    comment</label>

                                <textarea rows="3" class="form-control" name="editedContent" id="message-text"
                                    required></textarea>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>

                        </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal End -->


    <!-- Google's Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Self created JS -->
    <script src="/js/main.js"></script>
    <%- include('partials/footer') %>