<%- include('partials/menuheader') %>
<% if (message.length > 0) { %>
<div class="alert alert-success" role="alert">
    <%= message %>
</div>
<% } %>

<body>
    <a href="/compose" class="btn btn-outline-dark btn-lg btn-block" style="margin: 20px 0 0 0">
        Start a new thread!
    </a>

    <div class="container-fluid forumtable">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped table-hover table-dark table-sortable">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">User</th>
                            <th scope="col">Title</th>
                            <th scope="col">Created</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  posts.forEach((post) => { %>
                        <tr>

                            <td><%=post.username%></td>
                            <td><%=post.title%></td>
                            <td>
                                <h6 class="hiddenThing"><%=post.date%></h6><%=duration(post)%>
                            </td>
                            <td>

                                <a href="/posts/<%=post._id%>">Read Full Post</a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <% if (pages > 0) { %>
        <ul class="pagination text-center" style="margin-left: 16px;">
            <% if (current == 1) { %>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a>
            </li>
            <% } else { %>
            <li class="page-item">
                <a class="page-link" href="/forum/1">First</a>
            </li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="page-item active" aria-current="page">
                <a class="page-link"><%= i %></a>
            </li>
            <% } else { %>
            <li>
                <a class="page-link" href="/forum/<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled">
                <a>...</a>
            </li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled">
                <a class="page-link">Last</a>
            </li>
            <% } else { %>
            <li>
                <a class="page-link" href="/forum/<%= pages %>">Last</a>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <%- include('partials/footer') %>