<%- include('partials/menuheader') %>

<!-- similar to a home page -->
<% if (message.length > 0) { %>
<div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>

<body>
    <section id="title">
        <!-- Cover -->
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <h1 class="big-heading">Welcome back, <%= currUser %></h1>
                </div>

            </div>
        </div>

    </section>

    <section id="testimonials">

        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row" style="margin-bottom: -16px;">
                        <div class="feature-box col-lg-4">
                            <i class="icon fas fa-check-circle fa-4x"></i>
                            <h3 class="feature-title">Easy to use</h3>
                            <p>Simple user interface, easy for you to navigate our platfrom.</p>
                        </div>

                        <div class="feature-box col-lg-4">
                            <i class="icon fas fa-users fa-4x"></i>
                            <h3 class="feature-title">Engaging</h3>
                            <p>Dedicated forum for users to discuss and interact</p>
                        </div>

                        <div class="feature-box col-lg-4">
                            <i class="icon fas fa-book fa-4x"></i>
                            <h3 class="feature-title">Informative</h3>
                            <p>Updated news and info regarding anything boba.</p>
                        </div>
                    </div>
                </div>
                <% promos.forEach( (promo) => { %>
                <div class="carousel-item">
                    <h2 class="testimonial-text"><%=promo.promoName%></h2>
                    <img class="testimonial-image" src="<%=promo.promoImage%>" alt="icon">
                    <a href="/shop/promo/<%=promo._id%>" type="button" class="btn btn-secondary">Learn
                        More</a>
                </div>
                <%})%>

            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </section>

    <footer id="footer">

        <p class="note">© Copyright 2020 BobaClub</p>

    </footer>

    <%- include('partials/footer') %>