<%- include('partials/menuheader') %>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<% if (message.length > 0) { %>
<div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>

<body class="profile-body">
    <div class="main-content">
        <div class="container" style="margin-top: 3%; margin-bottom: 3%;">
            <!-- Table -->

            <form action="profile/<%=user._id%>" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-8 m-auto order-xl-1">
                        <div class="card bg-light shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8" style="padding-left: 0px;">
                                        <h3 class="mb-0">My account</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label"
                                                        for="input-username">Username</label>
                                                    <input type="text" id="input-username"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Username" value="<%=user.username%>" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Email
                                                        address</label>
                                                    <input type="email" id="input-email" name="email"
                                                        class="form-control form-control-alternative"
                                                        placeholder="jesse@example.com" value="<%=user.email%>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-first-name">First
                                                        name</label>
                                                    <input type="text" id="input-first-name" name="firstName"
                                                        class="form-control form-control-alternative"
                                                        placeholder="First name" value="<%=user.firstName%>">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-last-name">Last
                                                        name</label>
                                                    <input type="text" id="input-last-name" name="lastName"
                                                        class="form-control form-control-alternative"
                                                        placeholder="Last name" value="<%=user.lastName%>">
                                                </div>
                                            </div>

                                            <% if (user.shopName != null) { %>
                                            <div class="col-lg-12">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-url">Shop-URL</label>
                                                    <input type="text" id="input-url" name="url"
                                                        class="form-control form-control-alternative"
                                                        placeholder="URL of your establishment" value="<%=user.url%>">
                                                </div>
                                            </div>
                                            <% } %>

                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label"
                                                        for="input-last-name">User-Status</label>
                                                    <input type="text" id="input-status" name="shopName"
                                                        class="form-control form-control-alternative"
                                                        <% if (user.shopName == null) { %> value="Normal-User"
                                                        <% } else { %> value="Official-Establishment" <% } %> readonly>
                                                </div>
                                            </div>
                                            <% if (user.shopName == null) { %>
                                            <div class="col-lg-6 mt-4">
                                                <a href="/apply" class="btn btn-md mt-2 btn-outline-dark">Apply for
                                                    Shop-status</a>
                                            </div>
                                            <% } %>

                                        </div>

                                    </div>
                                    <hr class="my-4">
                                    <!-- Address -->
                                    <h6 class="heading-small text-muted mb-4">User Avatar</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">

                                            <div class="col-xs-5">

                                                <img src="/<%= user.userImage %>" class="profile-pic" alt="">

                                            </div>
                                            <div class="col-xs-5 chooseFileCol">
                                                <p> Update your user avatar</p>
                                                <input type="file" class="form-control-file avatar-choose"
                                                    name="userImage" id="userImage">
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    <!-- Description -->
                                    <h6 class="heading-small text-muted mb-4">About me</h6>
                                    <div class="pl-lg-4">
                                        <div class="form-group focused">
                                            <label>About Me</label>
                                            <textarea rows="4" class="form-control form-control-alternative"
                                                placeholder="A few words about you ..."
                                                name="aboutMe"><%= user.aboutMe %></textarea>
                                            <button class="btn mt-4 btn-outline-dark update-info-btn" type="submit"
                                                name="button">Update
                                                User Info</button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">

                </div>
                </form>
            </div>
        </div>
    </footer>
</body>

<%- include('partials/footer') %>