<%- include('partials/menuheader') %>
<% if (message.length > 0) { %>
<div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
    <%= message %>
</div>
<% } %>

<body>

    <!-- Upload Promos -->
    <% if (user.equals(shop._id) && shop.shopName != null) { %>
    <% if (status == "promos") { %>
    <a type="submit" role="button" href="/uploadPromo" class="btn btn-outline-dark btn-lg btn-block"
        style="margin: 20px 0 0 0">
        Add a New Promotion!
    </a>
    <% } %>
    <% } %>
    <main role="main">

        <% if (status == "drinks") { %>
        <section class="jumbotron text-center">
            <div class="container">
                <!-- Shop Name -->
                <h1><%=shop.username%></h1>
                <!-- Description -->
                <p class="lead text-muted"><%=shop.aboutMe%></p>
                <% if (shop.shopName != null) { %>
                <p>
                    <a href="/promo/<%=shop._id%>" class="btn btn-outline-dark">View Promotions</a>
                    <a href="#" class="btn btn-outline-dark">Visit Our Site</a>
                </p>
                <% } %>

                <% if (user.equals(shop._id)) { %>
                <p>
                    <a href="/upload" class="btn btn-outline-success" style="margin: 0 0 0 0">
                        Add a New Drink!
                    </a>
                </p>
                <% } %>

            </div>
        </section>
        <% } %>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    <!-- Drinks -->
                    <!-- < if (status == "drinks") { %> -->
                    <% if (status != "promos") { %>

                    <% drinks.forEach(drink => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">

                            <img src="/<%= drink.drinkImage %>" class="card-img-top" alt="brands">
                            <div class="card-body">

                                <p class="card-text"><%= drink.drinkName %></p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/drinks/<%= drink._id%>"
                                            class="btn btn-sm btn-outline-secondary">View</a>

                                        <% if (user.equals(drink.userID)) {%>
                                        <a href="/drink/edit/<%= drink._id %>"
                                            class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="#" data-ID="<%= drink._id %>" data-shopID="<%= drink.userID %>"
                                            class="btn btn-sm btn-outline-secondary delete-drink">Delete</a>
                                        <% } %>
                                        <!-- Favourite Drink -->
                                        <!-- If post does not belong to current user -->
                                        <!-- If not favourite yet -> render favourite button -->
                                        <% if ((!user.equals(drink.userID)) && (!drink.favouriters.includes(user._id))) { %>
                                        <button id="<%=drink._id%>" data-fav="<%=drink._id%>"
                                            class="btn btn-sm btn-outline-secondary" onclick="doFavDrink(this.id)"
                                            title="Wishlist">
                                            Wishlist <i class="far fa-heart"></i>
                                        </button>
                                        <% } %>
                                        <% if ((!user.equals(drink.userID)) && (drink.favouriters.includes(user._id))) { %>

                                        <!-- Else -> render unfavourite button -->
                                        <button id="<%=drink._id%>" data-fav="<%=drink._id%>"
                                            class="btn btn-sm btn-outline-secondary" onclick="doUnFavDrink(this.id)"
                                            title="Unwishlist">
                                            Wishlisted <i class="fas fa-heart" style="color: #ec5252;"></i>
                                        </button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>

                    <!-- Promos -->
                    <% if (status == "promos") { %>
                    <% promos.forEach(promo => { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="/<%= promo.promoImage %>" class="card-img-top" alt="brands">
                            <div class="card-body">

                                <p class="card-text"><%= promo.promoDescription.substring(0,100) + " ... " %></p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="/shop/promo/<%= promo._id%>"
                                            class="btn btn-sm btn-outline-secondary">View</a>

                                        <% if (user.equals(promo.userID)) {%>
                                        <a href="/promo/edit/<%= promo._id %>"
                                            class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="#" data-promoID="<%= promo._id %>" data-userID="<%= promo.userID %>"
                                            class="btn btn-sm btn-outline-secondary delete-promo">Delete</a>
                                        <% } %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>

    </main>

    <!-- Google's Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Self created JS -->
    <script src="/js/main.js"></script>

    <%- include('partials/footer') %>